# Add your requirements here like:
astropy
numpy
# gdal - install via conda
# numba - install via conda
# scipy - install via conda


################################################################################
# Notes:
#
# proj.4 >= 4.9.1 due to inaccurate reprojection
#
# GDAL >= 2.1.0 for using the proj.4 version of 4.9.2 or later






